*{
	box-sizing: border-box;	
	width: 100%;
}
.box{
	border: 2px solid #000000;
	max-width: 1000px;
	margin: 0 auto;
}
.top{
	border-bottom: 2px solid #000000;
	padding: 10px;
}
.bot{
	padding: 20px;
}
.row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.left{
	background-color: pink;
	width: 30%;
	padding: 20px;
	border: 1px solid #000000;
}
.right{
	background-color: blue;
	width: calc(70% - 30px);
	padding: 20px;
	border: 1px solid #000000;
}
.gold{
	background-color: gold;
	border: 1px solid #000000;
	padding: 20px;
}