*{
	box-sizing: border-box;

}
.khung{
	border: 2px solid black;
	height: 100%;
	width: 100%;
}
.title{
	border-bottom: 2px solid black;
	padding: 10px;
}
.violet{
	border: 1px solid black;
	margin: 10px 10px 0 ;
	background-color: violet;
	height: 200px;
	max-width: 100%;
}
.a{
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.red{
	background-color: red;
	border: 1px solid black;
	height: 200px;
}
.green{
	background-color: green;
	border: 1px solid black;
	height: 200px;

}
.orange{
	background-color: orange;
	border: 1px solid black;
	height: 200px;	
}
.a1{
	width:calc((100% - 40px) / 3);
}

@media (max-width: 768px)
{
	.title
	{
		text-align: center;
	}
	.a1
	{
		width: auto;
		margin-top: 10px;
	}
	.a
	{
		display: block;	
	}
}