.product-list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}
.product-item{
	width: calc((100% - 40px)/3);
	margin-top: 20px;
	border: 1px solid black;
}
.product-item a{
	display: block;
	position: relative;
}
.product-item a .product-title{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: red;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 10px;
}
*{
	box-sizing: border-box;
}